extends base

block css
  link(rel='stylesheet', href='/stylesheets/#{global.site.version}/customers.css')

block page 
  #service_1
    .container
      .section_header
        h3 典型客户
      .row.service_wrapper
        .col-sm-4
          .feature
            .img_box
              a(href='https://www.eastlending.com/', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/eb45ab70a4798474d3831976f8fed67c')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 东方汇 
              p https://www.eastlending.com/
              p 东方资产<br />四大银行资产处理集团；<br />注资100亿大型国有独资全国性金融机构。
        .col-sm-4
          .feature
            .img_box
              a(href='https://www.lilita.cn/', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/8deede18eaad58ea3d4eb18fc69bb146')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 凤凰理理它 
              p https://www.lilita.cn/
              p 凤凰网<br />隶属凤凰卫视传媒集团，为主流华人提供互联网、无线通信、电视网的新媒体优质内容与服务。
        .col-sm-4
          .feature.last
            .img_box
              a(href='https://www.anrunjinrong.com/', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/d1b67422080543dd82ff70f7853e7910')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 安润金融
              p https://www.anrunjinrong.com/
              p 安华农业保险<br>注册资本9.33亿元，年保费收入近30亿；<br>农业保险领域的领军企业。

      .row.service_wrapper
        .col-sm-4
          .feature
            .img_box
              a(href='http://www.sunloan.cn/', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/344ed557926922e0a8b2d86706fa3cb8')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 申融网
              p http://www.sunloan.cn/
              p 上海资信<br>上海资信有限公司是由央行征信中心及上海市政府联合控股，提供征信服务的专业化机构。
        .col-sm-4
          .feature
            .img_box
              a(href='https://www.p2p.zsrcn.com', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/e3a6ce8e521583e95c744b4914ab7395')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 商荣网 
              p https://www.p2p.zsrcn.com/
              p 中国投资贸易规划委员
              p 商务部旗下的二级协会，国内首个“加盟式”联网金融平台。
        .col-sm-4
          .feature.last
            .img_box
              a(href='http://www.apengdai.com', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/10e89b832878b8aa59beb5896861e188')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 阿朋贷
              p http://www.apengdai.com/   
              p 融通汇信
              p 中国小贷联盟成员，全国有30多家分支机构；“中国3.15诚信企业”、“中国市场公认品牌”。
      .row.service_wrapper
        .col-sm-4
          .feature.last
            .img_box
              a(href='http://www.jrq.com', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/890900c426920c5ed269c89495417e6d')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 金融圈 
              p http://www.jrq.com/   
              p 福亿集团
              p 上市公司，股东有IDG及宜信等顶尖金融机构，业务涵盖股票、基金、外汇、矿产等.
        .col-sm-4
          .feature.last
            .img_box
              a(href='http://www.dianxindai.com', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/4c1ee8237f5eb7557a0b5826a6da8c75')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 点心贷
              p http://www.dianxindai.com/   
              p 点心科技
              p 北京点心科技有限公司已经完成由国内知名天使投资人领投的第二轮融资。
        .col-sm-4
          .feature.last
            .img_box
              a(href='https://www.everp2p.com#', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/0abdc24c39475c15cfda8f7b1ed156be')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 云投网
              p https://www.everp2p.com/
              p 天津恒金
              p 注册资本金7960万元，以天津市为核心，辐射环渤海地区的中小企业的投融资服务中心。

      .row.service_wrapper
        .col-sm-4
          .feature.last
            .img_box
              a(href='http://www.x-s-m.com', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/d4a89cbd87c25cfbfe4cf6740a77d63c')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 湘商盟
              p http://www.x-s-m.com/
              p 湖南商会
              p 协会中众多实力企业家联合创建，极大提高了协会对会员的服务效率。
        .col-sm-4
          .feature.last
            .img_box
              a(href='https://www.zhongli360.com', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/bd292cbf0b8c7ef3be29eb9e5af3ec2b')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 众利360
              p https://www.zhongli360.com/
              p 众利和乐
              p 国内首家保理类互联网金融公司，和多家权威保理企业合作提供理财项目。
        .col-sm-4
          .feature.last
            .img_box
              a(href='http://www.jinhongmore.com', target='_blank')
                img.img-responsive(src='http://creditmanager.b0.upaiyun.com/cd7f074a293a7784ae6f2ff6a3186b44')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 进弘贷
              p https://www.jinhongmore.com/
              p 进弘创利
              p 注册资金2000万，拥有青岛、威海、三家线下分公司；风备金托管于招商银行。


block js
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/javascripts/v2/theme.js')
