extends base

block css
  link(rel='stylesheet', href='/stylesheets/#{global.site.version}/customers.css')

block page 
  #service_1
    .container
      .section_header
        h3 典型客户
      .row.service_wrapper
        .col-sm-4
          .feature
            .img_box
              a(href='https://www.eastlending.com/', target='_blank')
                img.img-responsive(src='/images/v2/service1.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 东方汇 
              p https://www.eastlending.com/
              p 东方资产<br />四大银行资产处理集团；<br />注资100亿大型国有独资全国性金融机构。
        .col-sm-4
          .feature
            .img_box
              a(href='https://www.lilita.cn/', target='_blank')
                img.img-responsive(src='/images/v2/service2.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 凤凰理理它 
              p https://www.lilita.cn/
              p 凤凰网<br />隶属凤凰卫视传媒集团，为主流华人提供互联网、无线通信、电视网的新媒体优质内容与服务。
        .col-sm-4
          .feature.last
            .img_box
              a(href='https://www.eastlending.com/', target='_blank')
                img.img-responsive(src='/images/v2/service3.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 安润金融
              p https://www.eastlending.com/
              p 安华农业保险<br>注册资本9.33亿元，年保费收入近30亿；<br>农业保险领域的领军企业。
      .row.service_wrapper
        .col-sm-4
          .feature
            .img_box
              a(href='http://www.sunloan.cn/', target='_blank')
                img.img-responsive(src='/images/v2/service1.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 申融网
              p http://www.sunloan.cn/
              p 上海资信<br>上海资信有限公司是由央行征信中心及上海市政府联合控股，提供征信服务的专业化机构。
        .col-sm-4
          .feature
            .img_box
              a(href='#', target='_blank')
                img.img-responsive(src='/images/v2/service2.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 Easy customization 
              p
                | There are many variations of passages of generators on the  embarrassing hidden in content here making it look like.
        .col-sm-4
          .feature.last
            .img_box
              a(href='#', target='_blank')
                img.img-responsive(src='/images/v2/service3.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 Made with love 
              p
                | There are many variations of passages of generators on the  embarrassing hidden in content here making it look like.

      .row.service_wrapper
        .col-sm-4
          .feature
            .img_box
              a(href='', target='_blank')
                img.img-responsive(src='/images/v2/service1.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 申融网
              p skdfjlskdfjslkdfj
        .col-sm-4
          .feature
            .img_box
              a(href='#', target='_blank')
                img.img-responsive(src='/images/v2/service2.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 Easy customization 
              p
                | There are many variations of passages of generators on the  embarrassing hidden in content here making it look like.
        .col-sm-4
          .feature.last
            .img_box
              a(href='#', target='_blank')
                img.img-responsive(src='/images/v2/service3.png')
                span.circle
                  span.glyphicon.glyphicon-link
            .text
              h6 Made with love 
              p
                | There are many variations of passages of generators on the  embarrassing hidden in content here making it look like.



block js
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/javascripts/v2/theme.js')
  script(src='/javascripts/v2/slider.js')
