footer#footer
  div.container
    div.row.sections.hide
      div.col-sm-4.recent_posts
        h3.footer_header
          | Recent Posts
        div.post
          a(href='blogpost.html')
            img.img-circle(src='/images/v2/recent_post1.png')
          div.date
            | Wed, 12 Dec
          a.title(href='blogpost.html')
            | Randomised words which don't look embarrasing hidden.
        div.post
          a(href='blogpost.html')
            img.img-circle(src='/images/v2/recent_post2.png')
          div.date
            | Mon, 12 Dec
          a.title(href='blogpost.html')
            | Randomised words which don't look embarrasing hidden.
      div.col-sm-4.testimonials
        h3.footer_header
          | Testimonials
        div.wrapper
          div.quote
            span “
            | There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
            span
          div.author
            img(src='/images/v2/user-display.png')
            div.name Alejandra Galvan Castillo
            div.info
              | Details Canvas
      div.col-sm-4.contact
        h3.footer_header
          | 关注我们
        table.sns
          tr
            td
              a.weibo(href='', target='_blank')
                img(src='/images/v2/weibo-64-d.png', data-c-src='/images/v2/weibo-64.png', data-d-src='/images/v2/weibo-64-d.png')
            td 
              a.weibo(href='', target='_blank') 关注官方微博
          tr
            td
              a.weixin(href='', target='_blank')
                img(src='/images/v2/weixin-64-d.png', data-c-src='/images/v2/weixin-64.png', data-d-src='/images/v2/weixin-64-d.png')
            td
              a.weixin(href='', target='_blank') 关注官方微信
    div.row.credits
      div.col-md-12
        div.row.copyright
          div.col-md-12
            | © 2013-2014 CreditCloud.com All rights reserved. 苏ICP备13032969号-1
          //div.cert-wrap
            a(href='https://search.szfw.org/cert/l/CX20150109006335006831', target='_blank')
              img(src='/images/v2/cert.jpg')
