footer#footer
  div.container
    div.row.sections
      div.col-sm-4.recent_posts
        h3.footer_header
          | Recent Posts
        div.post
          a(href='blogpost.html')
            img.img-circle(src='/images/v2/recent_post1.png')
          div.date
            | Wed, 12 Dec
          a.title(href='blogpost.html')
            | Randomised words which don't look embarrasing hidden.
        div.post
          a(href='blogpost.html')
            img.img-circle(src='/images/v2/recent_post2.png')
          div.date
            | Mon, 12 Dec
          a.title(href='blogpost.html')
            | Randomised words which don't look embarrasing hidden.
      div.col-sm-4.testimonials
        h3.footer_header
          | Testimonials
        div.wrapper
          div.quote
            span “
            | There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
            span
          div.author
            img(src='/images/v2/user-display.png')
            div.name Alejandra Galvan Castillo
            div.info
              | Details Canvas
      div.col-sm-4.contact
        h3.footer_header
          | Contact
        form(action='#', method='post')
          input(type='text', placeholder='Your name')
          input(type='text', placeholder='Your email')
          textarea(rows='3', placeholder='Message')
          input(type='submit', value='Send')
    div.row.credits
      div.col-md-12
        div.row.social
          div.col-md-12
            a.facebook(href='#')
              span.socialicons.ico1
              span.socialicons_h.ico1h
            a.twitter(href='#')
              span.socialicons.ico2
              span.socialicons_h.ico2h
            a.gplus(href='#')
              span.socialicons.ico3
              span.socialicons_h.ico3h
            a.flickr(href='#')
              span.socialicons.ico4
              span.socialicons_h.ico4h
            a.pinterest(href='#')
              span.socialicons.ico5
              span.socialicons_h.ico5h
            a.dribble(href='#')
              span.socialicons.ico6
              span.socialicons_h.ico6h
            a.behance(href='#')
              span.socialicons.ico7
              span.socialicons_h.ico7h
        div.row.copyright
          div.col-md-12
            | © 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.

