extends base

block css
  link(rel='stylesheet', href='/stylesheets/#{global.site.version}/index.css')
  <!--[if lt IE 9]>
  link(rel='stylesheet', href='/stylesheets/ie.css')
  <![endif]-->

block page 
  section#feature_slider.lol
    article#showcasing.slide(style='background: url("/images/v2/backgrounds/landscape.png") repeat-x top center;')
      img.asset.left-30.sp600.t120.z1(src='/images/v2/slides/scene1/macbook.png')
      .info
        h2 Beautiful theme for showcasing your works.
    article#ideas.slide(style='background: url("/images/v2/backgrounds/aqua.jpg") repeat-x top center;')
      .info
        h2 We love to turn ideas into beautiful things.
      img.asset.left-480.sp600.t260.z1(src='/images/v2/slides/scene2/left.png')
      img.asset.left-210.sp600.t213.z2(src='/images/v2/slides/scene2/middle.png')
      img.asset.left60.sp600.t260.z1(src='/images/v2/slides/scene2/right.png')
    article#tour.slide(style='background: url("/images/v2/backgrounds/color-splash.jpg") repeat-x top center;')
      img.asset.left-472.sp650.t210.z3(src='/images/v2/slides/scene3/ipad.png')
      img.asset.left-365.sp600.t270.z4(src='/images/v2/slides/scene3/iphone.png')
      img.asset.left-350.sp450.t135.z2(src='/images/v2/slides/scene3/desktop.png')
      img.asset.left-185.sp550.t220.z1(src='/images/v2/slides/scene3/macbook.png')
      .info
        h2 Fully Responsive theme
        a(href='features.html') TOUR THE PRODUCT
    article#responsive.slide(style='background: url("/images/v2/backgrounds/indigo.jpg") repeat-x top center;')
      img.asset.left-472.sp600.t120.z3(src='/images/v2/slides/scene4/html5.png')
      img.asset.left-190.sp500.t120.z2(src='/images/v2/slides/scene4/css3.png')
      .info
        h2
          | Responsive
          strong HTML5 & CSS3
          | Theme
  #aboutus
    .container
      .section_header
        h3 公司介绍
      .row.about-row
        .col-sm-9.intro
          p
            | 云中信公司具备多年数据处理、金融软件开发经验；尤其对量化风险计算，资产证券化交易等有丰富实践经验。
            自身定位 “ 专业第三方 ” ，可提供业务咨询、 技术实施以及持续运维的综合解决方案。
            近年来致力于p2p网贷系统的业务研究与平台开发工作，精研当前主流网贷模式，开发极具灵活性和安全性的P2P网贷系统。
        .col-sm-3.align-right
          .spance-18
          a.cc-btn.cooperation-btn(href='/cooperation') 商务合作
  #showcase
    .container
      .section_header
        h3 服务内容
      .row.feature_wrapper
        // Features Row
        .features_op1_row
          // Feature
          .col-sm-4.feature.first
            .img_box
              a(href='services.html')
                img(src='/images/v2/service1.png')
                span.circle
                  span.plus +
            .text
              h6 业务咨询
              p
                | 云中信团队具备专业金融背景，丰富的互联网金融实践经验，多家上市公司及大型机构合作案例，持续的互联网金融行业研究；拥有行业最优秀的P2P网贷分析及咨询团队。
          // Feature
          .col-sm-4.feature
            .img_box
              a(href='services.html')
                img(src='/images/v2/service2.png')
                span.circle
                  span.plus +
            .text
              h6 系统搭建
              p
                | 云中信定位互联网金融行业“专业第三方”公司研发的P2P网贷系统，具备完善的功能，高度模块化设计，配置灵活，支持多种业务模式。实施效率极高，系统安全可靠。
          // Feature
          .col-sm-4.feature.last
            .img_box
              a(href='services.html')
                img(src='/images/v2/service3.png')
                span.circle
                  span.plus +
            .text
              h6 托管运维
              p
                | 云中信和专业云服务商合作，提供可靠的P2P网贷系统托管维护服务。7*24小时应急服务，专业P2P系统运维工程师，具备丰富经验，保证客户系统的可靠性。
  #features
    .container
      .section_header
        h3 核心优势
      .row.feature
        .col-sm-6
          img.img-responsive(src='/images/v2/showcase1.png', style='margin-top: 32px;')
        .col-sm-6.info
          h3
            img(src='/images/v2/features-ico1.png')
            | 专业团队
          p 核心技术团队均来自摩根斯坦利金融IT研发部门，具备成熟的金融IT实施经验；团队开发成员半数具备清华北大几所顶级学府的硕士学位，拥有极高的研发能力和实施效率。
          p 在P2P网贷系统搭建方面有行业最丰富的专业知识及技术解决能力。
          p 专业的法律顾问以及金融行业研究人员，专心研究在网贷方面的法规政策，帮助客户合理合法的进行网贷业务的开拓，做到政策零风险。
      .row.feature
        .col-sm-6.pic-right
          img.pull-right.img-responsive(src='/images/v2/showcase2.png')
        .col-sm-6.info.info-left
          h3
            img(src='/images/v2/features-ico2.png')
            | 行业认可
          p 联想投资千万级别投资——行业内首家获得风险投资的专业互联网金融服机构;<br />获得多家大型机构认可——凤凰网、东方资产、安华农业保险<br />上海资信战略合作伙伴；<br />和行业内最权威第三方机构，支付、安全、征信、法律等机构建立战略合作关系。
      .row.feature
        .col-sm-6
          img.img-responsive(src='/images/v2/showcase3.png', style='margin-top: 56px;')
        .col-sm-6.info
          h3
            img(src='/images/v2/features-ico3.png')
            | 技术架构
          p 前端--NodeJs<br /> 高并发：理论上支持百万级并发<br />时数据：非定时刷新，实时同步数据<br />易拓展：前端server层更易二次开发<br />安全可靠：后端服务不直接暴露，数据更安全
          p 后端--—JaveEE核<br />支持分布式事物，可用性强；RestFull架构，易于与其他三方系统整合；
      .row.feature
        .col-sm-6.pic-right
          img.pull-right.img-responsive(src='/images/v2/showcase2.png')
        .col-sm-6.info.info-left
          h3
            img(src='/images/v2/features-ico2.png')
            | 安全可靠
          p 经过权威安全机构多轮扫描验证<br />专业金融软件开发标准，web层、应用层、数据层多重安全防护手段。<br />支持SSL+安全控件<br />客户交易额累计超过十亿。
  #clients
    .container
      .section_header
        h3 战略合作伙伴
      .row
        .col-md-2.col-sm-4.client
          a(href='#')
            .img.client1
        .col-md-2.col-sm-4.client
          a(href='#')
            .img.client2
        .col-md-2.col-sm-4.client
          a(href='#')
            .img.client3
        .col-md-2.col-sm-4.client
          a(href='#')
            .img.client4
        .col-md-2.col-sm-4.client
          a(href='#')
            .img.client5
        .col-md-2.col-sm-4.client
          a(href='#')
            .img.client6


block js
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/javascripts/v2/theme.js')
  script(src='/javascripts/v2/slider.js')
