extends base

block css
  link(rel='stylesheet', href='/stylesheets/#{global.site.version}/index.css')

block page 
  section#feature_slider.lol
    article#showcasing.slide(style='background: url("http://creditmanager.b0.upaiyun.com/3c6d3e1818b475853cbfd565ef6da4d3") repeat-x top center;')
      img.asset.left-30.sp600.t120.z1(src='http://creditmanager.b0.upaiyun.com/8639d3a44da767b0185dee17e0daedf3', style='width: 600px;')
      .info
        h2 云信<br><br>提供互联网金融核心技术
    article#showcasing.slide(style='background: url("http://creditmanager.b0.upaiyun.com/d7a647b92bb9e93c392914dbaa14d216") repeat-x top center;')
      img.asset.left-30.sp600.t120.z1(src='http://creditmanager.b0.upaiyun.com/2bf2772785c72376337dbb0f2d64cec6', style='width: 550px;top:145px!important;')
      .info
        h2 精研技术<br><br>开发灵活 安全可靠
  #aboutus
    .container
      .section_header
        h3 公司介绍
      .row.about-row
        .col-sm-9.intro
          p
            | 云信公司拥有多年数据处理与金融软件开发经验，特别是在量化风险计算，资产证券化交易等方面有丰富实践经验。自身定位 “ 专业第三方 ” ，可提供领先的业务咨询、技术实施以及持续运维综合解决方案。近年来在P2P网贷系统的业务研究，平台开发，网贷模式创新等方面处于行业顶尖地位，其P2P网贷系统极具灵活性和安全性。
        .col-sm-3.align-right
          .spance-18
          a.cc-btn.cooperation-btn(href='/cooperation') 商务合作
  #showcase
    .container
      .section_header
        h3 服务内容
      .row.feature_wrapper
        // Features Row
        .features_op1_row
          // Feature
          .col-sm-4.feature.first
            .img_box
              a(href='/')
                img(src='http://creditmanager.b0.upaiyun.com/e4e68753edfc0545f30f6ca95c188a42')
                span.circle
                  span.plus +
            .text
              h6 业务咨询
              p
                | 云信团队具备专业的金融背景，丰富的互联网金融实践经验，持续的互联网金融行业研究能力；拥有多家上市公司及大型机构合作案例，拥有行业最优秀的P2P网贷分析及技术咨询团队。
          // Feature
          .col-sm-4.feature
            .img_box
              a(href='/')
                img(src='http://creditmanager.b0.upaiyun.com/4f79b62cacf4506653be502ef44c7a37')
                span.circle
                  span.plus +
            .text
              h6 系统搭建
              p
                | 云信定位于互联网金融行业“专业第三方”公司，研发P2P网贷系统。系统具备完善的功能，高度模块化的设计。其配置灵活，支持多种业务模式，系统安全可靠，实施效率极高。
          // Feature
          .col-sm-4.feature.last
            .img_box
              a(href='/')
                img(src='http://creditmanager.b0.upaiyun.com/5b2a61595fdf0bd3e7e69f0403d3fe2e')
                span.circle
                  span.plus +
            .text
              h6 托管运维
              p
                | 云信和专业云服务商合作，提供可靠的P2P网贷系统托管维护服务，7*24小时应急服务。专业P2P系统运维工程师具备丰富经验，能够保证客户系统的安全性和可靠性。
  #features
    .container
      .section_header
        h3 核心优势
      .row.feature
        .col-sm-6
          img.img-responsive(src='http://creditmanager.b0.upaiyun.com/cfe3f3d1f5a3391e576ca5f723def43b', style='margin-top: 32px;')
        .col-sm-6.info
          h3
            img(src='/images/v2/features-ico1.png')
            | 专业团队
          p 核心技术团队均来自摩根斯坦利金融IT研发部门，具备成熟的金融IT实践经验；团队开发成员半数具备清华北大等中国顶级学府的硕士学位，拥有极高的技术研发能力。
          p 团队在P2P网贷系统搭建方面有行业最丰富的专业知识及技术解决能力。
          p 专业的法律顾问以及金融行业研究人员，专业研究在网贷方面的法规政策，帮助客户合理合法的进行网贷业务的开拓，做到政策零风险。
      .row.feature
        .col-sm-6.pic-right
          img.pull-right.img-responsive(src='http://creditmanager.b0.upaiyun.com/ef8252f14616fb535617afef3403e6f2')
        .col-sm-6.info.info-left
          h3
            img(src='/images/v2/features-ico2.png')
            | 行业认可
          p 已获得顶级VC联想投资数百万美元A轮融资——行业内首家获得风险投资的专业互联网金融服服机构;<br />获得多家大型机构认可——拥有凤凰网、东方资产、安华农业保险<br />上海资信等战略合作伙伴；<br />行业内最权威第三方机构认可，与支付、安全、征信、法律等机构建立战略合作关系。
      .row.feature
        .col-sm-6
          img.img-responsive(src='http://creditmanager.b0.upaiyun.com/54c49ac3ec4ed3035a1e698865eb0087', style='margin-top: 56px;')
        .col-sm-6.info
          h3
            img(src='/images/v2/features-ico3.png')
            | 技术架构
          p 前端--NodeJs<br /> 高并发：理论上支持百万级并发<br />时数据：非定时刷新，实时同步数据<br />易拓展：前端server层更易二次开发，安全可靠更简单<br />安全可靠：后端服务不直接暴露，数据更安全
          p 后端--—JaveEE核<br />支持分布式事务，可用性强；Restful架构，易于与其他三方系统整合；
      .row.feature
        .col-sm-6.pic-right
          img.pull-right.img-responsive(src='http://creditmanager.b0.upaiyun.com/88a9bbb20be57346964ba4cd3445545b')
        .col-sm-6.info.info-left
          h3
            img(src='/images/v2/features-ico6.png')
            | 安全可靠
          p 经过权威安全机构多轮扫描验证<br />专业金融软件开发标准，web层、应用层、数据层等多重安全防护手段。<br />支持SSL+安全控件<br />客户交易额累计超过十亿。
  include partner

block js
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/javascripts/v2/theme.js')
  script(src='/javascripts/v2/slider.js')
