#clients
  .container
    .section_header
      h3 战略合作伙伴
    .row
      .col-md-2.col-sm-4.client
        a(href='http://www.umpay.com/', target='_blank')
          .img.client1
            img(src='/images/v2/partner/a.png')
      .col-md-2.col-sm-4.client
        a(href='http://www.chinapnr.com/', target='_blank')
          .img.client2
            img(src='/images/v2/partner/b.png')
      .col-md-2.col-sm-4.client
        a(href='http://www.cfca.com.cn/', target='_blank')
          .img.client3
            img(src='/images/v2/partner/c.png', style='width: 80%')
      .col-md-2.col-sm-4.client
        a(href='http://www.ucloud.cn/', target='_blank')
          .img.client4
            img(src='/images/v2/partner/d.png')
      .col-md-2.col-sm-4.client
        a(href='http://www.allwincredit.com.cn/', target='_blank')
          .img.client5
            img(src='/images/v2/partner/e.png')
      .col-md-2.col-sm-4.client
        a(href='http://www.shanghai-cis.com.cn/', target='_blank')
          .img.client6
            img(src='/images/v2/partner/f.png')
