extends includes/base

block title
  title= title

block css
  link(rel='stylesheet', href='/stylesheets/admin.css')
  <!--[if lt IE 9]>
  link(rel='stylesheet', href='/stylesheets/ie.css')
  <![endif]-->

block page 
  div.page.cooperation-page
    include includes/header
    include includes/nav
    .container
      .content
        h3 管理后台首页
        ul
          li 网站总PV：3422342
          li 今日PV：232
          li 新增商务合作：3
          li 新增留言：5

block js
  script(src='/sea-modules/seajs/seajs/2.1.1/sea.js')
  script(src='/sea-modules/seajs/seajs-text/1.0.2/seajs-text.js')
  script(src='/javascripts/common/config.js')

