.nav.main-nav
  .main-nav-in
    ul
      if active.cooperation
        li.active
          a(href="/admin") 商务合作
      else
        li
          a(href="/admin") 商务合作

      if active.contact
        li.active
          a(href="/admin/contact") 联系我们
      else
        li
          a(href="/admin/contact") 联系我们

      if active.hr
        li.active
          a(href="/admin/hr") 招聘相关
      else
        li
          a(href="/admin/hr") 招聘相关

      if active.account
        li.active
          a(href="/admin/account") 账号管理
      else
        li
          a(href="/admin/account") 账号管理
